:root {
    --primary-color: #612975;
}

body {
    background-color: #292b39;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
    margin: 0;
}

.top_header {
    text-align: center;
}

.max_width {
    max-width: 120em;
    /* 1920 resolution / 16px = 120 */
}

.top_nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2.2em;
}

.top_nav a {
    text-decoration: none;
    color: #ccc;
    background-color: var(--primary-color);
    border-radius: 10%;
    padding: 1.5em;
    text-align: center;
    font-size: 1.1rem;
}

.top_nav a:hover {
    background-color: hsla(284, 48%, 43%, 0.212);
    border-radius: 10%;
}

@media screen and (min-width: 48.75em) {
    .top_nav {
        display: flex;
        justify-content: space-between;
    }
}